/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 96, gems/*.png */
.gems-sprite {
  background-image: url('../img/gems-s3ec6b0050c.png');
  background-repeat: no-repeat;
}

/* line 6, ../scss/style.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/* line 11, ../scss/style.scss */
h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 14px;
}

/* line 16, ../scss/style.scss */
.wrapper {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

/* line 25, ../scss/style.scss */
#game {
  background-image: url("../img/starburst-game-background.jpg");
  background-size: cover;
  padding: 20px;
}

/* line 30, ../scss/style.scss */
#navigation {
  margin-top: 15px;
  width: 62px;
  height: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #6aec00;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start_color, endColorstr=$end_color);
  background: -webkit-linear-gradient(top, bottom, #6aec00, #3c8600);
  background: -moz-linear-gradient(#6aec00, #3c8600);
  background: -o-linear-gradient(#6aec00, #3c8600);
  background: -ms-linear-gradient(#6aec00, #3c8600);
  background: linear-gradient(#6aec00, #3c8600);
  border: 1px solid black;
  box-shadow: 0px 0px 18px 0px #0e2000 inset;
  padding: 4px;
}
/* line 39, ../scss/style.scss */
#navigation:hover {
  background: #72ff00;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start_color, endColorstr=$end_color);
  background: -webkit-linear-gradient(top, bottom, #72ff00, #449900);
  background: -moz-linear-gradient(#72ff00, #449900);
  background: -o-linear-gradient(#72ff00, #449900);
  background: -ms-linear-gradient(#72ff00, #449900);
  background: linear-gradient(#72ff00, #449900);
  box-shadow: 0px 0px 18px 0px #3c8600 inset;
}
/* line 43, ../scss/style.scss */
#navigation #spin {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #aaff66;
  background: transparent url(../img/refresh.png) no-repeat center center;
  background-size: 40px;
  padding: 10px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* line 53, ../scss/style.scss */
#navigation #spin:focus {
  outline: none;
}

/* line 59, ../scss/style.scss */
#win {
  position: absolute;
  background-image: url("../img/win.png");
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
}

/* line 67, ../scss/style.scss */
.rules {
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 71, ../scss/style.scss */
.rules a {
  color: #bbb;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s;
}
/* line 76, ../scss/style.scss */
.rules a:hover {
  color: #fff;
}

/* line 81, ../scss/style.scss */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  color: #fff;
  display: none;
}
/* line 92, ../scss/style.scss */
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 25px 20px 25px 20px;
  border: 5px solid #733767;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 7px 3px #ba6fab;
  -webkit-box-shadow: 0px 0px 7px 3px #ba6fab;
  box-shadow: 0px 0px 7px 3px #ba6fab;
  background: black;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start_color, endColorstr=$end_color);
  background: -webkit-linear-gradient(top, bottom, black, #140c1e);
  background: -moz-linear-gradient(black, #140c1e);
  background: -o-linear-gradient(black, #140c1e);
  background: -ms-linear-gradient(black, #140c1e);
  background: linear-gradient(black, #140c1e);
}

/* line 103, ../scss/style.scss */
.close {
  background: #6aec00;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start_color, endColorstr=$end_color);
  background: -webkit-linear-gradient(top, bottom, #6aec00, #3c8600);
  background: -moz-linear-gradient(#6aec00, #3c8600);
  background: -o-linear-gradient(#6aec00, #3c8600);
  background: -ms-linear-gradient(#6aec00, #3c8600);
  background: linear-gradient(#6aec00, #3c8600);
  color: #fff;
  line-height: 20px;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 4px;
  width: 20px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 5px 0px #9cff4d;
  -webkit-box-shadow: 0px 0px 5px 0px #9cff4d;
  box-shadow: 0px 0px 5px 0px #9cff4d;
}
/* line 116, ../scss/style.scss */
.close:hover {
  background: #72ff00;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$start_color, endColorstr=$end_color);
  background: -webkit-linear-gradient(top, bottom, #72ff00, #449900);
  background: -moz-linear-gradient(#72ff00, #449900);
  background: -o-linear-gradient(#72ff00, #449900);
  background: -ms-linear-gradient(#72ff00, #449900);
  background: linear-gradient(#72ff00, #449900);
  -moz-box-shadow: 0px 0px 15px 0px #b9ff80;
  -webkit-box-shadow: 0px 0px 15px 0px #b9ff80;
  box-shadow: 0px 0px 15px 0px #b9ff80;
}
