@import "compass/utilities/sprites";
@import "diamonds/*.png";

.wrapper {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#navigation {
    margin-top: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #2b8906;
    border: 2px solid #172602;
    padding: 4px;

    #spin {
        display: block;
        box-sizing: content-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #84d12e;
        border: 2px solid #6dbb13;
        background-image: url(../img/refresh.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
        padding: 10px;
    }
}
